<% @milestones.each do |f|%>
<div class="modal fade" id="index<%=f.id%>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <img src="<%=f.image.url%>" class="img-responsive" alt="responsive img"/>



      <div class="modal-body tab-content">
            <div class="tab-pane active">
                <h2> <%= f.name  %></h2>
                <p>by <%=link_to User.find(f.user_id.to_s).name, user_path(f.user_id) %> </p>
                <p> <%= f.description %> </p> 
                
                
    
        </div>
        
       

        
    </div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">close</span><span class="sr-only">close</span></button> 
        </div>

      
    </div>
  </div>
</div>

<% end %>




