<% @milestones.each do |f|%>
<div class="modal fade" id="<%=f.id%>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <img src="<%=f.image.url%>" class="img-responsive" alt="responsive img"/>



      <div class="modal-body tab-content">
            <div class="tab-pane active" id="<%=f.id%>home">
                <h2> <%= f.name  %></h2>
                
                <p> <%= f.description %> </p> 
                <% if @user == current_user %>
                <p><a href="#<%=f.id%>edit" role="tab" data-toggle="tab">edit</a> | 
               <em><%= link_to "delete", [@twiine, @milestone], method: :destroy %></em>
                <%#= link_to "move up", [@twiine, @milestone], method: :move_up %>
                <%#= link_to "move down", twiine_milestone_path(f.id), method: :move_down %></p>
                <%end %> 
                
    
        </div>
        
        <div class="tab-pane" id="<%=f.id%>edit">
             <%= f.inspect %>
                
        
        </div>


        
    </div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">close</span><span class="sr-only">close</span></button> 
        </div>

      
    </div>
  </div>
</div>

<% end %>




