<div class="tab-content">
  <div class="tab-pane active" id="plus"> 
    <h1> NEW </h1>
    <div class="col-sm-6"> 

      <a href="#new" role="tab" data-toggle="tab">
        
      <div class="new-milestone"> <h1>Milestone </h1> </div></a>
      

    </div>
    <div class="col-sm-6"> 
      <a href="#goal" role="tab" data-toggle="tab">
      
      <div class="new-goal"> <h1>Goal </h1> </div></a>
    </div>
  </div>
        
        <div class="tab-pane " id="new">
             
                <%= form_for ([@twiine, @milestone]) do |s| %>
                    <div class="form-group">
                        <label for="name">Name</label>
                            <%= s.text_field :name, class: "form-control",  placeholder: "Milestone name" %> 
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                            <%= s.text_field :description, class: "form-control", placeholder: "Description"  %> 
                    </div>

                     
                    <div class="form-group">
                        
                        <label for="image">Image</label>
                            
                            <%= s.file_field :image, class: "form-control" %><%= s.submit "Create Milestone", class: "btn btn-default" %>
                            

                    </div>
                <%end %>
        
        </div>

        <div class="tab-pane " id="goal">
             
                <%= form_for ([@twiine, @milestone]) do |s| %>
                    <div class="form-group">
                        <label for="name">Name</label>
                            <%= s.text_field :name, class: "form-control",  placeholder: "Milestone name" %> 
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                            <%= s.text_field :description, class: "form-control", placeholder: "Description"  %> 
                    </div>

                     
                    <div class="form-group">
                        
                        <%= s.submit "Create Milestone", class: "btn btn-default" %>
                            

                    </div>
                <%end %>
        
        </div>