
<%= render 'milestone_modal' %>

<div class="row">
	<div class="col-md-1">	
		<h2><%= @twiine.name %> </h2>
	</div>

</div>
	

		<% @milestones.each do |p| %>
			<div class="col-md-3">
				<div class="ratio" style="background-image: url(<%= p.image.url %>)" alt="responsive img">
					<div class="carousel-caption">
						
						<div class="carousel-caption-inner">
							
							<h1><a data-toggle="modal" data-target="#<%=p.id%>"> <%= truncate(p.name, length: 14) %></a> </h1>
							
							<p> by <em><%= User.find(@twiine.user_id).name %> </em> </p>

						</div>

					</div>

				</div>

					

					<div class="col-md-12">
							<h1><span class="label label-default"><%= p.position %></span></h1>
					</div>
			</div>
			
		<% end %>



		<% if current_user == @user %>
		<div class="col-md-3">
				
				
				<%= render 'milestone_form' %>

		</div>
		<% end %>

	
</div>