<%= @user %>

<div class="row twiine-row">
		<% @milestones.each do |p| %>
			<div class="col-md-2">
				
				<% if p.goal %>
					<div class="ratio-goal" alt="goal image">

				<% else %>
					<div class="ratio" style="background-image: url(<%= p.image.url %>)" alt="milestone img">
				<% end %>
					<h3><%= p.position %> </h3>
						<div class="carousel-caption">

							<h3><a data-toggle="modal" data-target="#<%=p.id%>"> <%= truncate(p.name, length: 32) %></a> </h3>
							<div class="col-md-12">
								
						</div>
						</div>		

					</div>
					
			</div>

			<div class="modal fade" id="<%=p.id%>" tabindex="-1" role="dialog" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			    	<% if !p.goal %>
			        <img src="<%=p.image.url%>" class="img-responsive" alt="responsive img"/>
			        <% end %>


				      <div class="modal-body tab-content">
				            <div class="tab-pane active" id="<%=p.id%>home">
				                <h2> <%= p.name  %></h2>
				                
				                <p> <%= p.description %> </p> 
				                <% if @user == current_user || current_user.is_admin %>
				                <p><a href="#<%=p.id%>edit" role="tab" data-toggle="tab">edit</a> | 
				               		<em><%= link_to "delete", [@twiine, p], :method => :delete %></em>
				          		</p>
				                <%end %> 
				                
				    
				      	  	</div>
				        
       							<div class="tab-pane" id="<%=p.id%>edit">
           						  <%= form_for ([@twiine, p]) do |s| %>



                    			<div class="form-group">
                        			<label for="name">What Did You Achieve?</label>
                            		<%= s.text_field :name, class: "form-control",  placeholder: "Milestone name" %> 
                    			</div>

			                    <div class="form-group">
			                        <label for="description">Description</label>
			                            <%= s.text_field :description, class: "form-control", placeholder: "Description"  %> 
			                    </div>

                     			<div class="form-group">
                     				<label for="goal">Goal? Milestone?</label>
                     				Milestone <%= s.radio_button :goal, false , :checked => true , :value => false %>
                     				Goal <%= s.radio_button :goal, true, :value => true%>
                     			
                     			</div>
    			                <div class="form-group">
                			        <label for="image">Image</label>

                            		<%= s.file_field :image, class: "form-control" %><%= s.submit "Update", class: "btn btn-default" %>
                    			</div>
                					<%end %>
       							 </div>


        
   					 </div>

      				 <div class="modal-footer">
          					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">close</span><span class="sr-only">close</span></button> 
       				 </div>

      
			    </div>
			  </div>
			</div>
			
				
		<% end %>	
		
</div>
<div class="row paginate-row">
			<h3><%= will_paginate @milestones, :page_links => false %></h3>
		</div>

<div class="container">
	<div class="col-md-4">	
		<h1><%= @twiine.name %> </h1>
	</div>
	
	<div class="col-md-4">
		<% if current_user == @user %>				
		<%= render 'milestone_form' %>
		<% end %>
	</div>
	
</div>
	




		

