


<div class="row">
<% @tracks.each do |t| %>



<div class="col-md-4">
<div class="timeline-block-header">
	<h3><%= t.name %></h3>
</div>
<div class="timeline-block ">



<!-- This is the view logic for the scope turned_stone.  It hides completed milestones from the view -->
<% t.milestones.turned_stone(t.stones.last.value).each do |m| %>
<div class="timeline-block-milestone">
<p><b><%= m.value.to_s + " " + "#{t.descriptor}" %></b></p>
</div>
<%end %>

<% t.stones.each do |s| %>


<div class="timeline-block-stone">
<% if s.image_file_size != nil %>
	<div class="timeline-block-image" style="background-image:url(<%= s.image.url%>); background-size:contain">

	</div>
<% end %>
	<%= s.value.to_s + " " + "#{t.descriptor}"  %>

</div>
<%end %>


</div>
</div>
<%end %>
</div>

<%= render template: "milestones/new" %>
<%= render template: "stones/new" %>
