<% @milestones.where(:user_id => @user.id).each do |f|%>
<div class="modal fade" id="<%=f.id%>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <img src="<%=f.image.url%>" class="img-responsive" alt="responsive img"/>



      <div class="modal-body tab-content">
            <div class="tab-pane active" id="<%=f.id%>home">
                <h2> <%= f.name  %></h2>
                <p>by <%=link_to User.find(f.user_id.to_s).name, user_path(f.user_id) %> </p>
                <p> <%= f.description %> </p> 
                <p> <% if f.user_id == current_user.id %>
                <a href="#<%=f.id%>edit" role="tab" data-toggle="tab">edit</a> | 
                <em><%= link_to "delete", milestone_path(f.id), method: :delete, data: {confirm:"are you sure?"} %></em></p>
                <%end %> 
                
    
        </div>
        
        <div class="tab-pane" id="<%=f.id%>edit">
             
                <%= form_for Milestone.find(f.id)  do |s| %>
                    <div class="form-group">
                        <label for="name">Name</label>
                            <%= s.text_field :name, class: "form-control",  placeholder: "Milestone name" %> 
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                            <%= s.text_field :description, class: "form-control", placeholder: "Description"  %> 
                    </div>

                     <div class="form-group">
                        <label for="project">Project</label>
                            <%= s.text_field :project, class: "form-control", placeholder: "project"  %> 
                    </div>

                    <div class="form-group">
                        <label for="image">Image</label>
                            <%= s.file_field :image, class: "form-control" %><%= s.submit "Save", class: "btn btn-default" %>
                    </div>
                <%end %>
        
        </div>


        
    </div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">close</span><span class="sr-only">close</span></button> 
        </div>

      
    </div>
  </div>
</div>

<% end %>




