<h1>Edit Profile</h1>

<% if current_user == @user %>

<div class="row">
		<%= form_for @user do |s| %>
                  <div class="form-group">
                        <label for="name">Name</label>
                            <%= s.text_field :name, class: "form-control",  placeholder: "Your Name" %> 
                  </div>

                  <div class="form-group">
                        <label for="description">Specialty</label>
                            <%= s.text_field :specialty, class: "form-control", placeholder: "Your Specialty"  %> 
                  </div>

                  <div class="form-group">
                        <label for="project">Age</label>
                            <%= s.number_field :age, class: "form-control", placeholder: "Age"  %> 
                  </div>

                  <div class="form-group">
                        <label for="image">Profile Photo</label>
                            <%= s.file_field :image, class: "form-control" %><%= s.submit "Save", class: "btn btn-default" %>
                  </div>
       <%end %>
</div>
      <div class="row">
      	<% if @user.errors.any? %>
     	 <h4 class="list-group-item-danger"><%= pluralize(@user.errors.count, "error") %> prohibited this feature from being saved:</h4>
        
        <ul> 
        <% @user.errors.full_messages.each do |msg| %>
          	<li class="list-group-item-danger"> <%= msg %> </li>
      	<% end %>

        </ul>
        <% end %>
      </div>
<% end %> 