<div class="jumbotron container">	

	<h1>sign up</h1>

	<%= form_for @user do |f| %>

	<div class="col-md-2">
		<p><%= f.text_field :name, placeholder: "Name" %>
		<%= f.text_field :email, placeholder: "Email Address" %>
		<%= f.password_field :password, placeholder: "Password" %>
		<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></p>
		<%= f.submit %>
	</div>
		
      <div class="col-md-4">
      	<ul> 
      	<% if @user.errors.any? %>
     	 <h4 class="list-group-item-danger"><%= pluralize(@user.errors.count, "error") %> prohibited this feature from being saved:</h4>
        
        
        <% @user.errors.full_messages.each do |msg| %>
          	<li class="list-group-item-danger"> <%= msg %> </li>
      	<% end %>

        </ul>
        <% end %>
      </div>

<% end %>
