
<div class="row">
		<%=image_tag @user.image, class:"user-box" %>
		
		<h3> <em> &nbsp; <%= @user.name %></em>
			<% if @user.age != nil %>, <%= @user.age %> years old,
			<%end%>
			<% if @user.specialty != nil %> specializes in <%= @user.specialty %>.
			<% end %>
		</h3>
</div>
	<%= render 'twiine_form' %>
	<div class="row">
	
		<% @twiines.each do |p| %>
			<div class="col-md-3">
				<div class="ratio" style="background-image:url(<%= p.image.url %>)" alt="responsive img">
				</div>

					<div class="carousel-caption">
							<h2><%= link_to p.name, twiine_path(p) %></h2>
							Milestones Count: <%= p.milestones.count %>

					</div>
			</div>
		<% end %>
	</div>


		

	
